<section id="contacts" class="contacts__section section">
  <div class="contacts__container container">
    <div class="contacts-box">
      <h2 class="contact">Contact</h2>
      <a class="face-book" href="#">
        <svg width="32" height="32" class="facebook-icon">
          <use xlink:href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
      <ul class="contacts__list">
        <li class="contacts__item">
          <h3 class="contacts__title"><svg class="contacts__icon" width="17" height="17" class="facebook-icon">
            <use xlink:href="./images/icons.svg#icon-location"></use>
          </svg> LOCATION</h3>
          <p class="contacts__discription">
            2600 Anderson Rd Greenville, SC 29611
          </p>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__title"><svg class="contacts__icon" width="17" height="17" class="facebook-icon">
            <use xlink:href="./images/icons.svg#icon-building"></use>
          </svg> HOURS</h3>
          <p class="contacts__discription">
            Open every day from 8am-10pm (Last wash at 8pm)
          </p>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__title"><svg class="contacts__icon email-icon" width="17" height="17" class="facebook-icon">
            <use xlink:href="./images/icons.svg#icon-envelope"></use>
          </svg> EMAIL</h3>
          <p class="contacts__discription">
            <a class="email" href="#">info@upstatelaundromat.com</a>
          </p>
        </li>
      </ul>
    </div>
    <div class="location-box"></div>
  </div>
</section>
