<section class="feedback__section section">
  <div class="feedback__container container">
    <ul class="feedback__options">
      <li class="feedback__item">
        <button type="button" class="feedback__button">Новости</button>
      </li>
      <li class="feedback__item">
        <button type="button" class="feedback__button">Отзывы</button>
      </li>
    </ul>
    <ul class="news">
      <li class="news__item">
        <h2 class="news__title">Тренды мужской одежды 2023</h2>
        <p class="news__discription">
          Распродажа коллекций со скидками до 50%, доставка до вашего склада
        </p>
      </li>
      <li class="news__item">
        <h2 class="news__title">Тренды мужской одежды 2023</h2>
        <p class="news__discription">
          Распродажа коллекций со скидками до 50%, доставка до вашего склада
        </p>
      </li>
    </ul>
    <button class="feedback__btn">Больше новостей</button>
  </div>
</section>
