<section class="footer__section section">
  <div class="footer__container container">
    <h2 class="footer__title">Join our mailing list for 10% off!</h2>
    <form action="" class="footer__form">
      <laabel class="footer__label">
        <input placeholder="Email Address" type="text" class="footer__input" />
      </laabel>
      <button class="footer__button">sign up</button>
    </form>
    <p class="footer__discription">
      info@upstatelaundromat.com | 2600 Anderson Rd, Greenville SC 29611 © 2018
      Upstate Laundromat. All rights reserved. Site by <a class="footer__under-link" href="#">Knapsack</a>.
    </p>
    <img class="footer__logo" src="./images/preview/u-logo.png" width="300" alt="logo">
  </div>
</section>
