<header class="header" id="home">
  <div class="header__container container">
    <nav class="header__navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link not-logo" href="#">
            <svg class="navigation__home">
              <use xlink:href="./images/icons.svg#icon-home"></use>
            </svg>
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link not-logo" href="#products">Services</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link not-logo" href="#mission">Amenities</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">
            <img
              class="navigation__logo"
              width="180"
              src="./images/preview/logo.png"
              alt="logo"
            />
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link not-logo" href="#rewievs">Testimonials</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link not-logo" href="#questions">FAQ</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link not-logo" href="#contacts">Conatact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
