<section class="mission__section section">
  <div class="mission__container container">
    <h2 class="mission__title">
      We are on a mission to change the laundromat experience
    </h2>
    <p class="mission__offer">Here's what we offer:</p>
    <ul class="mission__list">
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/wifi-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">FREE WIFI</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/snowflake-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">AIR CONDITIONING</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/chair-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">COMFORTABLE SEATING</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/cafe-table-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">CAFE TABLE</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/charger-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">CHARGING STATIONS</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/hdtv-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">5 HD 55" TVS</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/washing-machine-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">35 HI TECH MACHINES</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/ipad-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">KID'S ZONE</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/attendant-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">ON-SITE ATTENDANT</h3>
      </li>
      <li class="mission__item">
        <img
          class="mission__img"
          width="140"
          src="./images/mission/security-camera-icon.png"
          alt=""
        />
        <h3 class="mission__subtitle">SECURITY CAMERAS</h3>
      </li>
    </ul>
  </div>
</section>
