<section class="products__section section">
  <div class="products__container container">
    <ul class="filter__list">
      <li class="filter__item">
        <button type="button" class="filter__btn">
          <span class="filter__check">Новинки</span>
        </button>
      </li>
      <li class="filter__item">
        <button type="button" class="filter__btn">
          <span class="filter__check">ТОП Продаж</span>
        </button>
      </li>
      <li class="filter__item">
        <button type="button" class="filter__btn">
          <span class="filter__check">Скидки</span>
        </button>
      </li>
    </ul>
    <ul class="products__list">
      <li class="products__item">
        <img class="products__img" width="374" src="#" alt="" />
      </li>
      <li class="products__item">
        <img class="products__img" width="374" src="#" alt="" />
      </li>
      <li class="products__item">
        <img class="products__img" width="374" src="#" alt="" />
      </li>
      <li class="products__item">
        <img class="products__img" width="374" src="#" alt="" />
      </li>
      <li class="products__item">
        <img class="products__img" width="374" src="#" alt="" />
      </li>
      <li class="products__item">
        <img class="products__img" width="374" src="#" alt="" />
      </li>
      <li class="products__item">
        <img class="products__img" width="374" src="#" alt="" />
      </li>
      <li class="products__item">
        <img class="products__img" width="374" src="#" alt="" />
      </li>
    </ul>
    <button class="products__btn">Посмотреть каталог</button>
  </div>
</section>
