<section class="propose__section section">
  <div class="propose__container container">
    <ul class="propose__list">
      <li class="propose__item ">
        <a class="propose__link" href=""><h2 class="propose__title">Акции-<br/>Новая&nbsp;серия</h2></a>
        <p class="propose__discription">Мужские футболки с модными принтами в стиле Хайтек</p>
      </li>
      <li class="propose__item ">
        <a class="propose__link" href=""><h2 class="propose__title">Успей до 10.04</h2></a>
        
        <p class="propose__discription">Распродажа со скидками до 50%. Мужские футболки всех размеров.</p>
      </li>
      <li class="propose__item">
        <a class="propose__link" href=""><h2 class="propose__title">Скидки до 45%</h2></a>
        
        <p class="propose__discription">На все футболки серии Лето 2019 при заказе от 2000 грн.</p>
      </li>
    </ul>
    
  </div>
</section>
