<section id="questions" class="questions__section section">
  <div class="questions__container container">
    <h2 class="questions__title">Frequently Asked Questions</h2>

    <ul class="questions__list">
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>What are your hours?
        </p>
        <p class="questions__discription">
          We're open 7 days/week from 8am to 10pm.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>What is the last wash time?
        </p>
        <p class="questions__discription">
          The posted time for starting the last wash is 9:00 PM. This typically
          allows enough time for our customers to finish washing, drying and
          folding their clothes by 10:00 PM.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>Is coin-less laundry really coin-less?
        </p>
        <p class="questions__discription">
          All the machines work with a laundry card – you don’t need to bring
          quarters. You can use cash, VISA or MasterCard to add value to a
          laundry card that may be re-loaded as you use up the balance on your
          card.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>How do I get a new laundry card?
        </p>
        <p class="questions__discription">
          You may get a laundry card by visiting the VTM (Value Transfer
          Machine) at the back of the store. Follow the simple steps to get a
          laundry card and add value by inserting cash, VISA or MasterCard. You
          can add money to the card as needed. Our friendly staff is always
          available to assist you if you need help with your transaction. There
          is also an available mobile app, directions can be loacted near the
          kiosk at the back of the store.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>How do I add money to the card?
        </p>
        <p class="questions__discription">
          You can add money to your card using cash, VISA or MasterCard at the
          VTM (Value Transfer Machine) next to the office. Please see the
          attendant if you need any assistance with your transaction. You can
          also register your card with Fascard by clicking here or by
          downloading the Fascard Mobile Apple with Apple & Android
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>Is my laundry card reusable/reloadable?
        </p>
        <p class="questions__discription">
          Yes, the card will retain any unused balance for future visits and can
          be reused and reloaded as often as needed. You can reload your Fascard
          by clicking here or download their app in your devices app store.
          Please note that other laudromats use the same system, however our
          cards only work at our location.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>How do I register my laundry card?
        </p>
        <p class="questions__discription">
          Registration can be completed by downloading the FasCard Mobile App,
          or by clicking here Registration is very important because it allows
          you to receive dicounts throughout the year and if you lose your
          laundry card we can trasnfer the money to a new one.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>Why is the front load washer often a
          better choice?
        </p>
        <p class="questions__discription">
          Top load washers are smaller capacity and less efficient. Front
          washers provide a better wash and are gentler on your garments due to
          their tumbling action. They need less soap (for example a double load
          front load washer will need about 1 1/2 load’s worth of soap). Front
          load washers are better value and more environmentally friendly.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>Can I wash my pillows in a front load
          washer?
        </p>
        <p class="questions__discription">
          You can – but you need to aware of a few things. Pillows can sometimes
          be damaged during wash and may lose stuffing or lose it’s shape.
          Please use your best judgment.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>Can I wash a down comforter?
        </p>
        <p class="questions__discription">
          Comforters with down fillings take longer to dry. You may need to air
          dry them at home to get the moisture out. Please take care to dry them
          completely to prevent mildew.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>How do I add time to the dryers?
        </p>
        <p class="questions__discription">
          You can add any amount of time to the dryer by inserting your laundry
          card into the dryer until the desired drying time is reached. Then
          press the START button. Please remember to take the card with you when
          you are done adding time to the dryer.
        </p>
      </li>
      <li class="questions__item">
        <p class="questions__text">
          <strong class="show">+</strong>What items should NOT be put in the
          dryer?
        </p>
        <p class="questions__discription">
          Anything with rubber should NOT be placed into the dryers on any
          temperature other than “air dry”. This includes all shoes and rugs
          with rubber backing, or any other item that is made with any rubber or
          plastic materials. They may become damaged and misshapen after being
          placed in the dryer. Items containing rubber or plastic are not
          permitted in the dryers for this reason.
        </p>
      </li>
    </ul>
  </div>
</section>
