<section class="rewievs__section section">
  <div class="rewievs__container container">
    <h2 class="rewievs__title">What People Are Saying</h2>
    <ul class="rewievs__list">
      <li class="rewievs__item">
        <div class="rewiev__box">
          <div class="user-name-and-stars">
            <h3 class="user-name">GERSS BUEZO</h3>
            <div class="stars-box">
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <span class="rewiev__date">Oct 23, 2023</span>
        </div>
        <img
          src="./images/google_sm.png"
          width="25"
          height="25"
          alt="google"
          class="google-icon"
        />
      </li>
      <li class="rewievs__item">
        <div class="rewiev__box">
          <div class="user-name-and-stars">
            <h3 class="user-name">EBONY BLAQ</h3>
            <div class="stars-box">
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <span class="rewiev__date">Aug 8, 2023</span>
        </div>
        <img
          src="./images/google_sm.png"
          width="25"
          height="25"
          alt="google"
          class="google-icon"
        />
      </li>
      <li class="rewievs__item">
        <div class="rewiev__box">
          <div class="user-name-and-stars">
            <h3 class="user-name">KIMIT KINGDOM</h3>
            <div class="stars-box">
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <span class="rewiev__date">Jul 7, 2023</span>
        </div>
        <img
          src="./images/google_sm.png"
          width="25"
          height="25"
          alt="google"
          class="google-icon"
        />
      </li>
      <li class="rewievs__item">
        <div class="rewiev__box">
          <div class="user-name-and-stars">
            <h3 class="user-name">ZANDRA BUTLER</h3>
            <div class="stars-box">
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
              <svg class="star-icon">
                <use xlink:href="./images/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <span class="rewiev__date">Jun 30, 2023</span>
        </div>
        <img
          src="./images/google_sm.png"
          width="25"
          height="25"
          alt="google"
          class="google-icon"
        />
      </li>
    </ul>
    <span class="powered-by"
      >Powered by <a class="by-link" href="#">ReviewsOnMyWebsite</a></span
    >
  </div>
</section>
