.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,#7898be,rgba(120,152,190,0));
    padding: 20px 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navigation {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}


.navigation__list {
    display: flex;
    align-items: inherit;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
}
.navigation__link {
    padding: 10px 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: 1em;
    color: #fff;
    transition: all 250ms ease;
}
.not-logo {
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 250ms ease;
    }
    &:hover {
        color: #e1e8f1;
        &::after {
            width: 100%;
            transform: translateX(-50%) scaleX(1);
        }
    }
}
.navigation__logo {
    margin: 0 20px;
}
.navigation__home {
    width: 14px;
    height: 14px;
    fill: #e1e8f1;
}


