.hero__section {
  background-repeat: no-repeat;
  background-image: url('../images/preview/bg-img.jpg');
  background-size: cover;
  background-position: center -110px;
  background-repeat: no-repeat;
  height: auto;
  color: #fff;
  padding-top: 300px;
  padding-bottom: 300px;
}

.hero__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.hero__small-title {
  font-size: 15px;
  font-family: filson-soft, sans-serif;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero__big-title {
  font-family: filson-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  line-height: 1.1em;
  letter-spacing: 0em;
  width: 530px;
  margin-bottom: 40px;
}
.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 26px;
  background-color: #fff;
  border-color: #fff;
  color: #5c5c5c;
  box-shadow: 0 2px 0 0 #ebebeb;
  border-radius: 300px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
